body {
	font-family: $font-family-serif;
	background: $gray-dark; //footer background color
}

// Links
// ------------------- //

a { 
	color: $link-primary;
	text-decoration: none;
}
a:hover {
	color: $link-primary-hover;
	text-decoration: none;
}

Add underlines to links in main content area
.main-content,
footer {
	a {
		text-decoration: underline;
	}
	a:hover,
	a:active,
	a:focus {
		text-decoration: underline;
	}
}

// Typography
// ------------------- //

p, li {
	font-size: 16px;
	line-height: 1.5em;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	margin-bottom: .75em;
}
h1 {
	margin-top: 0;
}
h4 {
	font-size: 20px;
	margin-top: 1.5em;
	margin-bottom: .5em;
}
h5 {
	font-size: 18px;
}

.front {
	h1 {
		display: none;
	}
}
.lead {
	font-size: 22px;
	line-height: 1.5em;
}

// Well overrides
// ------------------- //
.well {
	border-radius: 0;
	box-shadow: none;
}

// Breadcrumbs overrides
// ------------------------ //
.breadcrumb {
	padding: 0;
	background: inherit;
	margin-bottom: 3em;
	li {
		font-size: 12px;
	}
}

// Buttons
// -------------- //
.btn-primary {
	background: $gray;
	border-radius: 0;
	border-color: $gray;
	margin-left: .5em;
}