
footer {
	padding: 2em;
	margin-top: 4em;
	background: $gray-lighter;
	.nav {
		margin-bottom: 1.5em;
	}
	p, li {
		font-size: 13px;
	}
	.block-title {
		font-family: $font-family-cul;
		text-transform: uppercase;
		font-size: 16px;
		margin: 0 0 1em 0;
	}
	.nav > li > a:hover {
		text-decoration: underline;
	}
}
// .social-links {
// 	margin-top: 1.5em;
// 	a {
// 		border: 0;
// 		margin-left: 5px;
// 	}
// 	a:first-child {
// 		margin-left: 0;
// 	}
// 	a:hover, a:active, a:focus {
// 		border: 0;
// 	}
// 	i {
// 		font-size: 3em;
// 		color: $gray;
// 	}
// }

// CUL footer
// --------------------

.cul-footer {
	background: $gray-dark;
	padding: 2em 0;
	color: white;
	p, li {
		font-size: 13px;
	}
	.block-title {
		font-size: 14px;
		font-family: $font-family-cul;
		text-transform: uppercase;
		margin-top: 0;
	}
	.block {
		margin-bottom: .75em;
	}
	a {
		color: white;
		text-decoration: underline;
	}
	.btn-give {
		background: $cornell-red;
		font-family: $font-family-cul;
		color: white;
		font-size: 12px;
		text-transform: uppercase;
		display: inline-block;
		padding: 5px 10px;
		border: 0;
		border-radius: 0;
		text-decoration: none;
	}
	.btn-give:hover,
	.btn-give:active,
	.btn-give:focus {
		border: 0;
		background: $cornell-red;
		color: white;
	}
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
  	.fa-ul {
    	margin-left: 2.14286em;
  	}
  	footer {
		.nav > li {
			float: left;
			padding: 0 10px;
			border-left: 1px solid $gray-light;
		}
		.nav > li:first-child {
			padding-left: 0;
			border: none;
		}
		.nav > li > a {
			padding: 0;
		}
		.nav > li > a:hover,
		.nav > li > a:active,
		.nav > li > a:focus {
			background: inherit;
		}
	}
}

// Medium devices (desktops, 992px and up) 
// @media (min-width: $screen-md) {
// }
// Large devices (desktops, 1200px and up) 
// @media (min-width: $screen-lg) {
// }