// Cornell brand
// ------------------- //

.cornell-identity {
	.container {
		background: $cornell-black;
	}
	.cornell-logo {
		@include make-xs-column(4);
	}
	button {
		i {
			color: white;
		}
	}
}
.cu-insignia {
	float: left;
	margin-right: 1.5em;
}

// Library brand
// ------------------- //
.library-brand {
	margin-top: 1em;
}
.brand {
	text-transform: uppercase;
	font-size: 30px;
	font-family: $font-family-cul;
	display: inline-block;
	line-height: 1em;
	color: $gray-dark;
}
.brand:hover,
.brand:active,
.brand-focus {
	color: $gray-dark;
}
.cul-brand {
	color: $gray-dark;
	font-size: 24px;
	font-family: $font-family-cul;
	display: inline-block;
	margin-bottom: .15em;
}
.cul-brand:hover, .cul-brand:active, .cul-brand:focus {
	color: $gray-dark;
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
// @media (min-width: $screen-sm) { 
// }

/* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md) {
// 	.brand {
// 		font-size: 30px;
// 	}
// }
/* Large devices (desktops, 1200px and up) */
// @media (min-width: $screen-lg) {
// }
