header {
	background: white;
}

// Main content
// -------------- //
.main-content {
	background: url("../img/background.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.container {
		background: white;
		padding: 4em 0 0 0;
	}
}
.main-text {
	@include make-sm-column(8);
}

// Sidebar
// -------------- //
.sidebar {
	@include make-sm-column(4);
	margin-top: 3em;
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) {
	.hero {
		header {
			padding: 2em 0;
			.container {
			 	background: inherit;
			}
		}
	}
	.sidebar {
		margin-top: 0;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
}
// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
}
