.navbar {
	border-radius: 0;
	margin-bottom: 0;
	min-height: 0;
	border: 0;
}

// Mobile search and menu buttons
// --------------------------------- //
.navbar-toggle {
	margin: 0;
	font-size: 120%;
	background: $gray-lighter;
	border-radius: 0;
	padding: 10px 15px;
}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
	background: $gray-lighter;
}
.search-toggle {
	background: $gray;
	color: $hot-pink;
}
.search-toggle:hover, .search-toggle:active, .search-toggle:focus {
	background: $gray;
	color: $hot-pink;
}

// Global nav
// ------------------- //
.global-menu {
	@include make-xs-column(8);
	padding-right: 0;
}
#menu {
	.nav {
		li {
			font-size: 14px;
			text-transform: uppercase;
			float: left;
		}
		a {
			color: white;
			padding: 10px 15px;
		}
		a:hover, a:active, a:focus {
			background: inherit;
			text-decoration: underline;
		}
		.active {
			a, a:hover, a:active, a:focus {
				font-weight: 700;
			}
		}
	}
}

// Main nav
// ------------------- //
nav {
	background: white;
	.container {
		background: $gray-dark;
		padding-left: 0;
	}
	.nav {
		li {
			float: left;
			a {
				color: white;
				font-size: 14px;
				padding: 15px 20px 10px 20px;
				font-family: $font-family-cul;
				text-transform: uppercase;
				border-bottom: 5px solid $gray-dark;
			}
			a:hover,
			a:active,
			a:focus {
				background: $hot-pink;
				text-decoration: none;
			}
		}
		.active {
			a, a:hover, a:active, a:focus {
				border-color: $hot-pink;
				text-decoration: none;
				background: $gray-dark;
			}
		}
	}
}

// Mobile nav
// ------------------- //
#mobile-nav {
	background: white;
	a {
		color: $gray-dark;
		font-size: 14px;
		border-bottom: 1px solid $gray-lighter;
	}
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
}

// Sidebar nav
// ------------------- //
.sidebar {
	.block-title {
		margin: 0;
		padding: 0 0 .5em 0;
		font-size: 14px;
		text-transform: uppercase;
		border-bottom: 2px solid $gray-lighter;
		a {
			color: $gray;
			border: none;
		}
	}
	.nav > li {
		padding: 8px 0;
		font-size: 18px;
	}
	.nav > li > a {
		padding: 0;
		border-bottom: 0;
		display: inline-block; // need this so the link text displays inline with menu icon
	}
	.nav > li > a:hover,
	.nav > li > a:active,
	.nav > li > a:focus {
		background: inherit;
	}
	.nav {
		margin-top: 1em;
		i {
			margin-right: .15em;
			color: $gray;
			font-size: 20px;
		}
		.active {
			a, a:hover, a:active, a:focus {
				color: $gray-dark;
				font-weight: 700;
			}
		}
	}
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) {
	#menu {
		.nav {
			float: right;
		}
	}
	nav {
		.navbar-nav > li > a {
			// font-size: 14px;
		}
		.nav {
			li {
				a {
					// font-size: 14px;
					padding: 10px;
				}
			}
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	nav {
		.navbar-nav > li > a {
			// font-size: 16px;
		}
		.nav {
			li {
				a {
					// font-size: 16px;
					padding: 15px 20px;
				}
			}
		}
	}

}
// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
	// nav {
	// 	.nav {
	// 		li {
	// 			a {
	// 				font-size: 18px;
	// 			}
	// 		}
	// 	}
	// }
}