// Colors
// -----------------//

$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;
$cornell-black: #222;

$hot-pink: #f01653;
// $hot-pink-active: #ce1045;


// Google fonts
// -----------------//

$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);

